**/node_modules
**/.env*
**/.git*
**/*docker-compose*
**/*Dockerfile*
**/dist
backend/vitest.config.ts
backend/src/generated
backend/prisma
backend/prisma.config.ts
!backend/prisma/schema.prisma
!frontend/.env
