services:
  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: nginx/Dockerfile
    restart: always
    ports:
      - 80:80
    depends_on:
      api:
        condition: service_healthy
    networks:
      - frontend
  api:
    container_name: api
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - backend/.env
    environment:
      - ENABLE_CORS=false
      - TRUST_PROXY=true
      - UPLOAD_DIR=/uploads
    restart: always
    expose:
      - 3000
    depends_on:
      pg:
        condition: service_healthy
    volumes:
      - uploads:/uploads
    networks:
      - frontend
      - backend
    healthcheck:
      test: curl -fsS http://localhost:3000/health
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 5s
  pg:
    container_name: postgres
    image: postgres:16.10-alpine3.21
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: always
    expose:
      - 5432
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: pg_isready -U postgres
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

volumes:
  pg_data:
  uploads:

networks:
  frontend:
  backend:
